.channel-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.channel-item {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
}

.channel-item img {
  width: 100px;
  height: 100px;
  margin-right: 20px; /* Adjust as needed */
}

.channel-details {
  flex-grow: 1; /* This will make the details fill the remaining space */
}

.search-bar {
  width: 430px;
  height: 40px;
  margin-left: 10px;
}
/* You can add additional styling for audio controls, channel names, etc. */
